html,
body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

body {
  background-color: #dadada;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a7bbc;
  height: 80px;
}

.link {
  text-decoration: none;
  margin-left: 5rem;
  color: #dadada;
}
.link:hover {
  color: #f1f1f1;
  font-size: larger;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  border-radius: 15px;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 80%;
  min-width: 60%;
  background-color: #ffffff;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas:
    "block-1 block-2"
    "block-1 block-2"
    "block-3 block-3";
}

.block-1 {
  grid-area: block-1;
}

.block-2 {
  grid-area: block-2;
}

.block-3 {
  grid-area: block-3;
}
