h3 {
  min-width: 200px;
  background-color: rgb(172, 172, 172);
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.down p {
  border: 1px solid rgb(27, 27, 27);
  margin-left: 25px;
  margin-right: 25px;
}

.down p:hover {
  cursor: default;
}
.fa-chevron-down {
  margin-left: 115px;
}
.fa-chevron-down:hover {
  cursor: pointer;
}

.down-2 li {
  margin-bottom: 10px;
  font-size: 15px;
}
.block-1 h3 {
  font-size: 17px;
}
.down-2 li:hover {
  cursor: pointer;
}
