.reserves_list {
  width: 900px;
  margin: 0 auto;
  background-color: #d8d8d8;
}

.reserves_table {
  width: 100%;
  margin: 20px 0px 20px 0px;
  min-width: 50rem;
  max-width: 60rem;
}
.reserves_table thead th {
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  background: #6cbdf3;
  font-size: 14px;
  border-left: 1px solid rgb(153, 147, 147);
  border-right: 1px solid rgb(153, 147, 147);
  width: 50px;
  border-radius: 4px;
}
.reserves_table tbody td {
  text-align: center;
  border: 1px solid rgb(153, 147, 147);
  padding: 10px 10px;
  font-size: 14px;
  vertical-align: top;
}

.d_button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}
.d_button:hover {
  color: lightslategray;
}
